# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Virtual environment
venv/
.env

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Model files (optional - if large)
*.onnx

# Results (optional)
results/*.csv

# Docker
*.pid
*.sock

# Misc
*.tmp
*.bak